---
layout: default
title: Robert Smith -- About me
pageClass: about
meta: "Test page"
---

TEST

{% highlight html linenos %}
<ul>
	<li>item</li>
</ul>
{% endhighlight %}


{% highlight scss linenos %}
$spacing: $spacing-unit;
$border-color: $brand-color;

$full-bleed: false;
$double-spacing: false;
$border: true;

.island {
	display: block;
	padding: $spacing;
	@if ($border) {
		border: 1px solid $border-color;
	}
	@if ($full-bleed) {
		&__full-bleed {
			margin-left: -$spacing;
			margin-right: -$spacing;
		}
	}
	@if ($double-spacing) {
		&--double {
			padding: ($spacing * 2);
			&__full-bleed {
				margin-left: -($spacing * 2);
				margin-right: -($spacing * 2);
			}
		}
	}
}
{% endhighlight %}

f