/*------------------------------------*\
    #SETTINGS -> VARIABLES
    Global variables
\*------------------------------------*/



/**
 * Colors
 */
$brand-color:   #45d296;
$alpha-color:   #444;
$beta-color:    #ccc;
$gamma-color:   #f0f0f0;
$delta-color:   #aaa;
$epsilon-color: #e84428;
$zeta-color:    #fff;



/**
 * Font sizes (1 == 10px && 1rem)
 */
$txt-xl:    4;
$txt-lg:    3;
$txt-md:    2.2;
$txt-sm:    1.6;
$txt-xs:    1.3;




/**
 * Line height
 */
$site-line-height: 1.6;



/**
 * Grid & Architecture
 */
$site-wrap-width:               700px;
$grid-gutter-width:             30px;
$site-padding-width: ($grid-gutter-width / 2);
$grid-gutter-width-screen-xs:   10px; // gutter width on ultra small screens.
$grid-column-count:             12;
$section-padding:				40px; // amount of padding top & bottom on .sections





/**
 *  Helpers - functions found in _helpers.scss
 * 
 */
 // widths for push / soft helper classes
$base-margin-width: round($grid-gutter-width / 2); //defaults maintain symmetry with grid.
$base-padding-width: round($grid-gutter-width / 2);





/**
 *  Objects - functions found in _objects.scss
 *
 */


 	// border-radius
 	$rounded-radius: 5px;



 	//spaced list
 	$list-spacing: round($grid-gutter-width / 3); //defaults maintain symmetry with grid



 	//inline list spaced
 	$inline-list-spacing: round($grid-gutter-width / 3);



 	//ui list
 	$ui-list-spacing: $base-margin-width*2; //defaults maintain symmetry with grid
	$ui-list-border-color: $brand-color;



	//island
	$island-padding-width: $grid-gutter-width; //defaults maintain symmetry with grid
	$island-spacing: $grid-gutter-width;



	// pagination
	$pagination-padding-width: round($grid-gutter-width / 3);



	// Columns
	$column-gap: $grid-gutter-width;




	// Navbar
	/*---Architecture---*/
	$navbar-item-spacing: 15px;
	$navbar-line-height: 80px;
	$navbar-collapsed-line-height: 45px;
		// Sub nav
		$sub-menu-line-height: 40px;

	/*---Colors---*/
	$navbar-background-color: #eee;
		// Collapsed
		$burgers-color: #151515;
		$collapsed-items-color: #400;





		/**
		 * Forms
		 */
		$input-border-color: $alpha-color;
		$text-input-height: 30px;
		$lg-text-input-height: 40px;
		$text-input-textarea-height: 120px;
		
		
		// Form validation
		$form-dirty: red;
		$form-valid: green;


/**
 * Breakpoints
 */
$screen-xxs: 400px;
$screen-xs:  480px;
$screen-sm:  768px;
$screen-md:  992px;
$screen-lg:  1200px;





