/*------------------------------------*\
    #OBJECTS -> GENERIC -> SPRITES
\*------------------------------------*/
/**
 * Used for the projects sprite image to be displayed as
 * a background image.  The sprite can either be displayed
 * in the element itself or in a psuedo element.


 <div class="sprite">
 	...
 </div>


 <div class="sprite-psuedo">
 	...
 </div>

 *
 * These classes should be extended in scss/custom/sprites.scss
 * by adding icon classes:


 *	Example facebook sprite-psuedo icon

	* SSCSS
   .icon-facebook {
   		padding-left: 30px;
   		&:before {
   			left: 0;
			width: 20px;
			height: 20px;
			margin-top: -10px;
			background-position: 0 0;
   		}
   }

   * HTML
   <a href="#" class="sprite-psuedo icon-facebook">...</a>

 */


@if ($options__use-sprites) {
	.sprite,
	.sprite-psuedo:before {
		background-image: url('img/build/media/sprite.png');
		background-repeat: no-repeat;
	}
	.sprite {
		display: inline-block;
		vertical-align: middle;
	}
	.sprite-psuedo {
		position: relative;
		background: transparent;
		&:before {
			position: absolute;
			left: 0;
			top: 50%;
			content: " ";
		}
	}
}