/*------------------------------------*\
    #COMPONENTS -> GENERIC -> BUTTONS
\*------------------------------------*/

/**
 * Based object for all buttons, not much
 * in here as buttons generally vary from
 * project to project.
 *

 	<a href="#" class="btn">...</a>

 *
 * Extend these objecrs in scss/custom
 */

.btn {
	display: inline-block;
	border: 0;
	text-decoration: none;
	color: $zeta-color;
	text-align: center;
	transition: background 0.2s;
	&:hover {
		text-decoration: none;
		color: $zeta-color;
	}
	&--brand {
		background: $brand-color;
		&:hover {
			background: lighten($brand-color, 6%);
			
		}
	}
	&--alpha {
		background: $alpha-color;
		&:hover {
			background: lighten($alpha-color, 6%);
			
		}
	}
	&--lg {
		line-height: 35px;
		padding: 0 30px;
	}
}
