/*------------------------------------*\
    #COMPONENTS -> GENERIC -> POST
\*------------------------------------*/

.post {
	&__title {
		display: inline;
		font-weight: 400;
		margin: 0;
		@include font-size($txt-md);
		@media (max-width: $screen-sm) {
			@include font-size(($txt-md +-.15));
		}
		@media (max-width: $screen-xs) {
			@include font-size(($txt-md +-.3));
		}
	}
	&__date {
		padding-left: 25px;
		white-space: nowrap;
		color: $delta-color;
	}
}

.single-post {
	&__header {
		margin-bottom: 15px;
	}
	&__title {
		margin-bottom: 0;
	}
	&__date {
		color: $delta-color;
	}
}