
/*------------------------------------*\
    #COMPONENTS -> GENERIC -> SITE HEADER
\*------------------------------------*/


.site-header {
	text-align: center;
	&__logo {
		border-radius: $rounded-radius;
		border: 2px solid $alpha-color;
	}
}
