/*------------------------------------*\
    #COMPONENTS -> GENERIC -> SVG ICONS
\*------------------------------------*/
@if ($options__use-svg-icons) {
    .svg-icon {
        position: relative;
        &__svg {
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
}

