

/*------------------------------------*\
    #OBJECTS -> LISTS -> UI LIST
\*------------------------------------*/
/**
 *
 * Create blocky lists of content that are border separated.
 *

 *
 * Extend these objects in scss/custom
 */


@if ($options__use-ui-list) {
	.ui-list {
		@extend %bare-list;
		&:before {
			bottom: 0;
		}
		&__item {
			padding: $ui-list-spacing 0;
			&:before {
				top: 0;
			}
		}
	}
	.ui-list,
	.ui-list__item {
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			background: $beta-color;
			background-image: linear-gradient(to right, $gamma-color, $beta-color 20%, $beta-color 80%, $gamma-color);
			content: " ";
		}
	}
}