
<div class="social section">
	<div class="social__item">
		<a href="https://twitter.com/robertwilliam_s" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @robertwilliam_s</a>
	</div>
</div>
<footer class="site-footer section">
	<div class="site-wrap site-padding">
	    	<strong>RW Smith Consulting Ltd is a UK registered company</strong>
	    	<strong>Company No.</strong> 09931691
	</div>
</footer>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
