
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		{{ page.title }} &ndash; Front-end Development &amp; Archetecture by Robert Smith
	</title>
	<meta name="description" content="Articles on CSS, JavaScript, front-end developent, and website performance.">

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,600'>
	<link rel="stylesheet" href="{{site.url }}/css/style.css">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@robertwilliam_s">
	<meta name="twitter:domain" content="rbrtsmith.github.io">
	<meta name="twitter:creator" content="@robertwilliam_s">
	<meta name="twitter:title" content="{{ page.title }} – rbrtsmith.github.io">
	<meta name="twitter:image" content="{{site.url }}/img/build/robert.jpg">
	{% if page.meta %}
	    <meta name="twitter:description" content="{{ page.meta }}">
	{% endif %}
</head>