<header class="site-header">
	<nav class="site-nav section">
		<ul class="nav nav--center">
			<li>
				{% if page.pageClass == "posts" %}
		            <a href="/#posts" class="active box-link">Posts</a>
		        {% else %}
		            <a href="/#posts" class="box-link">Posts</a>
		        {% endif %}
			</li>
			<li>
				{% if page.pageClass == "about" %}
		            <a href="{{site.url }}/about" class="active box-link">About</a>
		        {% else %}
		            <a href="{{site.url }}/about" class="box-link">About</a>
		        {% endif %}
			</li>
			<li>
				<a href="https://github.com/rbrtsmith" class="box-link">Github</a>
			</li>
		</ul>
	</nav>
	<img class="site-header__logo" src="{{site.url }}/img/build/robert.jpg" alt="Robert, front-end developer" width="150" height="150">
	<div class="site-wrap site-padding">
		<h1 class="section hard--bottom flush">Front end Development &amp; Architecture</h1>
	</div>
</header>