
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		{{ page.title }} &ndash; Front-end Development &amp; Archetecture by Robert Smith
	</title>
	<meta name="description" content="Articles on CSS, JavaScript, front-end developent, and website performance.">

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,600'>
	<link rel="stylesheet" href="{{site.url }}/css/style.css">
</head>