<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>
	{% include header-alt.html %}

	<article class="section single-post">
		<div class="site-wrap site-padding">
			<header class="single-post__header">
				<h1 class="single-post__title">
					{{page.title}}
				</h1>
				<time class="single-post__date" datetime="{{ page.date | date: "%Y-%m-%d" }}">
					{{ page.date | date: "%d %B, %Y" }}
				</time>
			</header>
	    	{{ content }}
	    </div>
	</article>
	<div class="social">
		<div class="social__item">
			<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet this post</a>
		</div>
	</div>
{% include footer.html %}

</body>
</html>

