<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>
	{% include header-alt.html %}

	<article class="section">
		<div class="site-wrap site-padding">
			<header>
				<h1>
					{{page.title}}
				</h1>
			</header>
	    	{{ content }}
	    </div>
	</article>
	<div class="social">
		<div class="social__item">
			<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet this post</a>
		</div>
	</div>
{% include footer.html %}

</body>
</html>

