/*------------------------------------*\
    #BASE -> TYPOGRAPHY
    element, attribute & psuedo selectors
\*------------------------------------*/

html {
	font-size: 62.5%;
	// Root font size, allows use to convert from px to REM easily.
	@media (max-width: $screen-md) {
		font-size: 60%;
	}
	@media (max-width: $screen-sm) {
		font-size: 58%;
	}
	@media (max-width: $screen-xs) {
		font-size: 56%;
	}
	@media (max-width: $screen-xxs) {
		font-size: 54%;
	}
}


body {
	line-height: $site-line-height;
	font-family: 'Roboto', sans-serif;
	@include font-size($txt-sm);
	color: $alpha-color;
	font-weight: 300;
}

h1, h2, h3 {
	margin: 15px 0;	
	font-weight: 300;
}
h1 {
	@include font-size($txt-xl);
	@media (max-width: $screen-sm) {
		@include font-size(($txt-xl +-.4));
	}
	@media (max-width: $screen-xs) {
		@include font-size(($txt-xl +-.8));
	}
}
h2 {
	@include font-size($txt-lg);
	@media (max-width: $screen-sm) {
		@include font-size(($txt-lg +-.25));
	}
	@media (max-width: $screen-xs) {
		@include font-size(($txt-lg +-.5));
	}
}
h3 {
	@include font-size($txt-md);
	@media (max-width: $screen-sm) {
		@include font-size(($txt-md +-.15));
	}
	@media (max-width: $screen-xs) {
		@include font-size(($txt-md +-.3));
	}
}

figcaption {
	@include font-size($txt-xs);
	line-height: 2;
}

strong,
a {
	font-weight: 600;
}

strong {
	color: #222;
}

q {
	font-style: italic;
}

code {
	color: $epsilon-color;
}

pre {
	padding: 15px;
	overflow-y: auto;
	white-space: pre;
	word-wrap: normal;
	background: darken($brand-color, 25%);
	border: 2px solid darken($brand-color, 35%);
	border-left-width: 6px;
	code {
		color: $zeta-color;
	}
}


p {
	margin-top: 0;
}

a {
	color: $brand-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
	&:active {
		outline: none;
	}
}


blockquote {
	position: relative;
	max-width: 500px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	color: darken($delta-color, 10%);
	&:before {
		position: absolute;
		top: 0;
		left: -$section-padding/2;
		bottom: 0;
		width: 5px;
		background: $beta-color;
		content: " ";
	}
}




